audio {
display: block;
margin: 5px;
}
body {
background: black;
color:#CCCCCC; 
}
div {
float: left;
border :1px solid #444444;
padding:10px;
margin: 10px;
background:#3B3B3B;
}
.column {
  float: left;
  width: 18%;
  vertical-align: middle;
}
.bigcolumn {
  float: middle;
  width: 35%;
  vertical-align: middle;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#canvasDiv {
background:#FFFFFF;
}
